<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">TERMO DE ADESÃO E COMPROMISSO</h4>
</div>
<div class="modal-body" style="overflow-y: auto;">
  <article>

    <p>Sistema de Currículos do Programa de Integração Empresa-Escola do Instituto de Tecnologia Aplicada e Inovação – PIEE/ITAI.</p>

    <section>
      <h2>1. Aceitação das Condições de Uso</h2>
      <p>1.1. O presente Termo de Adesão e Compromisso tem por finalidade normatizar o uso do serviço oferecido pelo Sistema de Currículos do PIEE/ITAI. Ao usar tal Sistema, o usuário está ciente de que estará sujeito aos manuais e regras aplicáveis a ele. Ao enviar dados curriculares ao PIEE/ITAI, o usuário assume que leu e concordou com a versão mais recente do Termo e se vincula, automática e irrevogavelmente, às regras nele contidas.</p>
      <p>1.2. O serviço oferecido não envolverá quaisquer ônus para o usuário, exceto os da conexão remota para acesso ao Sistema, que caberá àquele ter. Da mesma forma, não haverá qualquer vantagem ou retribuição ao usuário pelas informações e dados que cadastrar no sistema e pela disposição que deles vier a ser feita pelo PIEE/ITAI a qualquer tempo.</p>
    </section>

    <section>
      <h2>2. Descrição do serviço</h2>
      <p>O PIEE/ITAI, através do Sistema de Currículos, coleta e armazena informações curriculares dos usuários, necessárias ao cumprimento de seu papel como agente de integração. Tais informações são utilizadas na avaliação da competência de candidatos à obtenção de vagas de estágio e na construção de outras bases de dados que subsidiam a elaboração de indicadores e estudos de interesse do ITAI.</p>
    </section>

    <section>
      <h2>3. Senha e segurança</h2>
      <p>3.1. Todo usuário que utilizar o serviço é responsável pela guarda segura e pela confidencialidade da sua senha, além de ser inteiramente responsável por toda e qualquer atividade, lançamento e registro de informações que ocorram sob o uso da mesma, inclusive para efeitos legais.</p>
      <p>3.2. O usuário concorda em notificar imediatamente o PIEE/ITAI sobre qualquer uso não autorizado da sua senha ou qualquer quebra de segurança de que tome conhecimento.</p>
      <p>3.3. O PIEE/ITAI não será responsável por qualquer perda que possa ocorrer como conseqüência do uso não-autorizado por terceiros de sua senha, com ou sem seu conhecimento.</p>
      <p>3.4. Para proteger o sigilo de sua senha, recomenda-se ao usuário:</p>
      <ol class="list-unstyled">
        <li>a) sair de sua conta ao final de cada sessão e assegurar que a mesma não seja acessada por terceiros não autorizados; e,</li>
        <li>b) não informar sua senha, nem mesmo ao PIEE/ITAI, por e-mail, telefone ou outros meios.</li>
      </ol>
    </section>

    <section>
      <h2>4. Compartilhamento das informações</h2>
      <p>4.1. Todas as informações curriculares enviadas ao PIEE/ITAI poderão ser por este disponibilizadas para acesso interno ou exibidas na rede interna do instituto.</p>
      <p>4.2. O PIEE/ITAI poderá fornecer as informações curriculares recebidas dos usuários para entidades conveniadas, resguardado o compromisso de não exibição pública das informações relativas aos dados de identificação: Filiação, RG, CPF. </p>
      <ol class="list-unstyled hide">
        <li>a) Filiação;</li>
        <li>b) RG;</li>
        <li>b) CPF.</li>
      </ol>
      <p>4.3. O PIEE/ITAI fica expressamente autorizado a publicar as informações curriculares contidas em seu sistema, sob qualquer forma e registro, bem como compartilhá-las ou integrá-las a outras bases de dados próprias ou de terceiros de interesse para a elaboração de indicadores e estudos sobre desenvolvimento regional, sem que daí decorra qualquer ônus ou obrigação para o PIEE/ITAI, exceto de preservar a integridade, a fidelidade, a exatidão e a correção dos dados e informações pessoais cadastrais, conforme estejam estes originariamente lançados no Sistema de currículos pelo usuário.</p>
    </section>

    <section>
      <h2>5. Conduta e Obrigações do Usuário</h2>
      <p>Como condição para utilizar o serviço, o usuário concorda em:</p>
      <ol class="list-unstyled">
        <li>a) fornecer informações verdadeiras e exatas;</li>
        <li>b) aceitar que o usuário é o único responsável por toda e qualquer informação cadastrada em seu Currículo, estando sujeito às conseqüências, administrativas e legais, decorrentes de declarações falsas ou inexatas que vierem a causar prejuízos ao PIEE/ITAI ou a terceiros;</li>
        <li>c) não utilizar o serviço para fins ilícitos ou proibidos;</li>
        <li>d) não utilizar o serviço para transmitir/divulgar material ilícito, proibido ou difamatório, que viole a privacidade de terceiros, ou que seja abusivo, ameaçador, discriminatório, injurioso, ou calunioso;</li>
        <li>e) não utilizar o serviço para transmitir/divulgar material que incentive discriminação ou violência;</li>
        <li>f) não transmitir e/ou divulgar qualquer material que viole direitos de terceiros, incluindo direitos de propriedade intelectual;</li>
        <li>g) não obter ou tentar obter acesso não-autorizado a outros sistemas ou redes de computadores conectados ao serviço (ações de hacker);</li>
        <li>h) não interferir ou interromper o serviço, as redes ou os servidores conectados ao serviço;</li>
        <li>i) não criar falsa identidade ou utilizar-se de subterfúgios com a finalidade de enganar outras pessoas ou de obter benefícios;</li>
        <li>j) solicitar autorização para incluir links para outros sites e/ou bases de dados; e</li>
        <li>k) comunicar imediatamente qualquer discrepância constatada pelo usuário nos dados e informações cadastrados e divulgados no e pelo Sistema do PIEE/ITAI, concomitante à sua correção procedida por ele próprio.</li>
      </ol>
    </section>

    <section>
      <h2>6. Conduta e Obrigações do PIEE/ITAI</h2>
      <p>6.1. O PIEE/ITAI reserva-se o direito de:</p>
      <ol class="list-unstyled">
        <li>a) compartilhar e/ou exibir os dados curriculares dos usuários do serviço, consoante descrito no item 4;</li>
        <li>b) sem aviso prévio, realizar auditorias periódicas acerca das informações cadastradas pelo usuário;</li>
        <li>c) cancelar o acesso do usuário ao serviço, bem como suprimir o registro das informações curriculares do usuário sempre que verificar a má-utilização por este do Sistema, ou a prática de abusos na sua utilização e no lançamento de informações cadastrais.</li>
      </ol>
      <p>6.2. O PIEE/ITAI não se responsabiliza pelas declarações falsas ou inexatas prestadas pelo usuário que vierem a causar prejuízos a terceiros ou ao próprio serviço.</p>
    </section>

    <section>
      <h2>7. Modificações deste Termo de Adesão e Compromisso</h2>
      <p>7.1. O PIEE/ITAI reserva-se o direito de alterar o conteúdo deste Termo, sendo responsabilidade do usuário consultá-lo regularmente.</p>
      <p>7.2. O uso continuado do serviço implica na concordância do usuário com todas as regras, condições e avisos emanados do PIEE/ITAI, enquanto ali constar o cadastramento das informações pessoais fornecidas por aquele.</p>
    </section>

  </article>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
  <!--<button type="button" class="btn btn-primary">Eu aceito!</button>-->
</div>
