<div id="chamada" class="jumbotron">
  <div class="container">
    <img src="images/estagio-na-au-aug2013.jpg"/>
    <h2>Excelência em intermediação de estágios</h2>
    <p><a class="btn btn-default" role="button">Saiba mais &raquo;</a></p>
  </div>
</div>

<div id="cadastro" class="section prototype">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Instituição de Ensino</h2>
        <p>Tenha um parceiro para auxiliar seus acadêmicos a encontrar oportunidades e por em prática seus conhecimentos. </p>
        <p><a class="btn btn-primary" href="#" role="button">Quero me cadastrar &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Estudante</h2>
        <p>Encontre a oportunidade que você precisa para ingressar no mercado de trabalho em sua área de estudo. </p>
        <p><a class="btn btn-primary" href="#" role="button">Quero me cadastrar &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Empresa</h2>
        <p>Ofereça oportunidades e ganhe a chance de qualificar o profissional de amanhã contando com nosso apoio.</p>
        <p><a class="btn btn-primary" href="#" role="button">Quero me cadastrar &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<div id="instituicoes" class="section">
  <div class="container">
    <h3>Algumas <a href="">empresas</a> e <a href="">instituições de ensino</a> que estão no Portal de Estágios</h3>
    <ul class="list-unstyled list-inline">
      <li><img src="images/pti.png"/></li>
      <li><img src="images/poloiguassu.png"/></li>
      <li><img src="images/unioeste.png"/></li>
      <li><img src="images/logicti.png"/></li>
    </ul>
    <ul class="list-unstyled list-inline">
      <li><img src="images/verticall.png"/></li>
      <li><img src="images/cits.png"/></li>
      <li><img src="images/nandeva.png"/></li>
      <li><img src="images/borkenhagen.png"/></li>
      <li><img src="images/itaipu.png"/></li>
      <li><img src="images/acifi.png"/></li>
    </ul>
  </div>
</div>

<div id="oportunidades">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Confira as oportunidades de estágio</h2>
        <p>O Portal de Estágios disponibiliza vagas de estágio para estudantes do curso de:</p>
        <ul>
          <li>Administração, Ciências Contábeis;</li>
          <li>Ciência da Computação, Sistemas de Informação e áreas afins;</li>
          <li>Administração ou Secretariado Executivo;</li>
          <li>Publicidade e Propaganda.</li>
        </ul>
        <p>Para maiores informações entrar em contato pelo Tel: 3576-7107 Gláucia. </p>
        <p><a class="btn btn-default" href="#" role="button">Saiba mais &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <div id="noticias" class="list-group">
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">01 (uma) vaga de estágio para estudantes do curso de ADMINISTRAÇÃO OU SECRETARIADO EXECUTIVO.</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">02 (duas) Vagas de estágio para estudantes do curso de Ciência da Computação, Sistemas de Informação e áreas afins.</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">01 (uma) Vaga de estágio para estudantes do curso de Administração ou Ciências Contábeis.</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">01 (uma) vaga de estágio para estudantes do curso de PUBLICIDADE E PROPAGANDA.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p class="hide">A integração entre instituições de ensino e o setor empresarial é de essencial importância para o desenvolvimento sócio-econômico da região e um dos focos de atuação do ITAI.</p>
        <p class="hide">Para fomentar essa integração, o ITAI criou o Portal de Estágios, com a missão de promover a integração entre empresa e escola para oportunizar ao estudante, por meio de programas de estágio, o aperfeiçoamento de sua qualificação profissional e inserção ao mercado de trabalho.</p>
        <p>Como agente integrador o Portal de Estágios atua:
          <ul>
            <li>Auxiliando instituições de ensino na identificação das oportunidades de estágio junto a pessoas jurídicas de direito público e privado (concedentes);</li>
            <li>Facilitando o ajuste das condições de estágios entre as partes envolvidas: instituições de ensino, estudantes e concedentes;</li>
            <li>Prestando serviços administrativos de cadastramento de estudantes, triagem, pré-seleção, convocação e encaminhamento de candidatos, bem como preparando toda a documentação legal, inclusive o seguro de vida dos estagiários e o pagamento de bolsas auxílio;</li>
            <li>Co-participando na sistemática de acompanhamento e avaliação dos estágios, em articulação com as partes envolvidas.</li>
          </ul>
        </p>
        <p class="hide">O ITAI não vê a intermediação de estágios como um negócio, mas como um programa social de estímulo à qualificação profissional e geração de empregos.</p>
        <p class="hide">Os recursos obtidos pelo Portal de Estágios são utilizados para a manutenção do programa e também na alavancagem de outros programas e projetos de desenvolvimento tecnológico, social e de geração de emprego e renda realizados pelo ITAI.</p>
      </div>
      <div class="col-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14410.019822742168!2d-54.58456523163319!3d-25.454809033831943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f69b15d6227625%3A0x3d0eee6fbf9f7a10!2sITAI+-+Instituto+de+Tecnologia+Aplicada+e+Inova%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2s!4v1405452041846" height="300" frameborder="0" class="maps"></iframe>
      </div>
    </div>
    <p>&copy; 2014 <a href="http://www.itai.org.br">ITAI</a>. Todos os direitos reservados.</p>
  </div>
</footer>