<div ng-controller="MenuCtrl" class="container" >
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=""><img src="images/itai-horizontal.png" alt="ITAI" /></a>
  </div>
  <div  class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/">Home</a></li>
      <li><a href="#/oportunidades">Oportunidades</a></li>
      <li ng-if="!estudante.id"><a href="#/cadastro" >Cadastre-se!</a></li>
      <li ng-if="!estudante.id||home()" ><a href="#/login?entrar" class="login">Entrar</a></li>
      <li ng-if="estudante.id&&!home()" ><a href="#/login?sair" class="logout">Sair</a></li>
    </ul>
  </div><!--/.navbar-collapse -->
</div>